<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.cable.mapper.Plan3Mapper">
    <!-- 计划2批量派单出库数据 -->
    <select id="idsqueryChuList" resultType="org.jeecg.modules.cable.vo.SendOrdersVo">
        SELECT
        p.id,
        p.project_no,
        p.eng_name AS project_name,
        ml.`name` AS wasteMaterialText,
        iy.warehouse_id,
        iy.storage_location_id,
        wa.name AS wname,
        st.storage_location_name AS storagename,
        iy.inventory_quantity
        FROM plan3 p
        LEFT JOIN material ml ON p.material_code = ml.serial
        LEFT JOIN inventory iy ON (ml.id = iy.material_id AND p.project_no = iy.project_no AND p.pro_theorder_no =
        iy.asset_no)
        LEFT JOIN warehouse wa ON iy.warehouse_id = wa.id
        LEFT JOIN storage_location st ON iy.storage_location_id = st.id
        WHERE p.id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!-- 查询计划3批量出库完单的数据 -->
    <select id="getPlan3ReceivingStorageList" resultType="org.jeecg.modules.cable.vo.Plan3Vo">
        SELECT
        p.id,
        p.project_no,
        p.eng_name,
        p.material_describe,
        p.pro_theorder_no,
        iy.inventory_quantity,
        w.id as warehouseId,
        w.`name` as warehouseName,
        s.id as storageLocationId,
        s.storage_location_name
        FROM
        plan3 p
        LEFT JOIN material ml ON p.material_code = ml.serial
        LEFT JOIN inventory iy ON ( p.project_no = iy.project_no AND ml.id = iy.material_id AND p.pro_theorder_no =
        iy.asset_no )
        LEFT JOIN warehouse w ON iy.warehouse_id = w.id
        LEFT JOIN storage_location s ON iy.storage_location_id = s.id
        WHERE p.id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        GROUP BY p.id
    </select>

    <!-- 查询计划3批量入库完单的数据 -->
    <select id="getPlan3DeliverStorage" resultType="org.jeecg.modules.cable.entity.Plan3">
        SELECT
        p.id,
        p.project_no,
        p.eng_name,
        p.material_describe,
        p.pro_theorder_no,
        p.num
        FROM
        plan3 p
        WHERE p.id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="pageList" resultType="org.jeecg.modules.cable.entity.Plan3">
        SELECT * FROM plan3
        <where>
            <if test="null != plan3.planType">
                AND plan3.plan_type = #{plan3.planType}
            </if>
            <if test="null != plan3.projectNo and '' != plan3.projectNo">
                AND plan3.project_no LIKE CONCAT('%',#{plan3.projectNo},'%')
            </if>
            <if test="null != plan3.engName and '' != plan3.engName">
                AND plan3.eng_name LIKE CONCAT('%',#{plan3.engName},'%')
            </if>
            <if test="null != plan3.proTheorderNo and '' != plan3.proTheorderNo">
                AND plan3.pro_theorder_no LIKE CONCAT('%',#{plan3.proTheorderNo},'%')
            </if>
            <if test="null != plan3.completeState">
                AND plan3.complete_state = #{plan3.completeState}
            </if>
        </where>
        ORDER BY complete_state ASC,update_time DESC,send_orders_state ASC
    </select>

    <!-- 导出excel bai 2020/9/8 -->
    <select id="exportPlan3" resultType="org.jeecg.modules.cable.dto.Plan3Im">
        SELECT
        p.id,
        p.project_no,
        p.eng_name,
        p.pro_apply_no,
        p.pro_theorder_no,
        p.lineitem_no,
        p.material_code,
        p.material_describe,
        p.measuring_unit,
        p.supplier,
        p.num,
        p.project_manager,
        p.m_phone,
        p.company_name,
        p.field_consignee,
        p.c_phone,
        p.address,
        p.construction_time,
        p.date_of_arrival,
        p.stop_time,
        p.feedback,
        p.note,
        p.construction_organization,
        p.instructions,
        p.main_contractor,
        d.deliver_time,
        d.accomplish_num AS deliverNum,
        r.receiving_time,
        r.accomplish_num AS receivingNum
        FROM
        plan3 p
        LEFT JOIN deliver_storage d ON p.id = d.plan_id AND d.plan_type = 3
        LEFT JOIN receiving_storage r ON p.id = r.plan_id AND r.plan_type = 3
        <where>
            <if test="plan3.planType != null">
                AND p.plan_type = #{plan3.planType}
            </if>
            <if test="plan3.projectNo != null and plan3.projectNo != ''">
                AND p.project_no LIKE CONCAT('%',#{plan3.projectNo},'%')
            </if>
            <if test="plan3.engName != null and plan3.engName != ''">
                AND p.eng_name LIKE CONCAT('%',#{plan3.engName},'%')
            </if>
            <if test="plan3.proTheorderNo != null and plan3.proTheorderNo != ''">
                AND p.pro_theorder_no LIKE CONCAT('%',#{plan3.proTheorderNo},'%')
            </if>
            <if test="plan3.completeState != null">
                AND p.complete_state = #{plan3.completeState}
            </if>
            <if test="plan3.beginTime != null">
                AND p.create_time &gt;= #{plan3.beginTime}
            </if>
            <if test="plan3.endTime != null">
                AND p.create_time &lt;= #{plan3.endTime}
            </if>
        </where>
        ORDER BY p.id
    </select>

    <!-- 计划表3新品统计 -->
    <select id="selectNewproducts" resultType="org.jeecg.modules.cable.vo.Plan3Vo">
        SELECT eng_name,material_describe,Sum(ds1.accomplish_num) warehousing_num,Sum(rs1.accomplish_num)
        warehouse_out_num,item_text
        from plan3 p1
        INNER JOIN deliver_storage ds1 on p1.id=ds1.plan_id
        INNER JOIN receiving_storage rs1 on p1.id=rs1.plan_id
        INNER JOIN (SELECT item_text,item_value from sys_dict sd INNER JOIN sys_dict_item sdi on sd.id=sdi.dict_id WHERE
        dict_code='unit' ) as sd1 on ds1.accomplish_num_unit=sd1.item_value

        <where>
            <if test="null != planType">
                AND p1.plan_type=#{planType}
            </if>
            <if test="null != materialDescribe and '' != materialDescribe">
                AND material_describe like CONCAT('%',#{materialDescribe},'%')
            </if>
            <if test="null != beginTime and '' != beginTime">
                AND ds1.deliver_time <![CDATA[>=]]> #{beginTime}
                AND rs1.receiving_time <![CDATA[>=]]> #{beginTime}
            </if>
            <if test="null != endTime and '' != endTime">
                AND ds1.deliver_time <![CDATA[<=]]> #{endTime}
                AND rs1.receiving_time <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        GROUP BY eng_name
    </select>

    <!-- 导出汇总 -->
    <select id="exportPlan2" resultType="org.jeecg.modules.cable.vo.Plan3ExcelVo">
        SELECT eng_name,material_describe,Sum(ds1.accomplish_num) warehousing_num,Sum(rs1.accomplish_num)
        warehouse_out_num,item_text
        from plan3 p1
        INNER JOIN deliver_storage ds1 on p1.id=ds1.plan_id
        INNER JOIN receiving_storage rs1 on p1.id=rs1.plan_id
        INNER JOIN (SELECT item_text,item_value from sys_dict sd INNER JOIN sys_dict_item sdi on sd.id=sdi.dict_id WHERE
        dict_code='unit' ) as sd1 on ds1.accomplish_num_unit=sd1.item_value

        <where>
            p1.plan_type='新品'
            <if test="null != plan3ExcelVo.beginTime and '' != plan3ExcelVo.beginTime">
                AND ds1.deliver_time <![CDATA[>=]]> #{plan3ExcelVo.beginTime}
                AND rs1.receiving_time <![CDATA[>=]]> #{plan3ExcelVo.beginTime}
            </if>
            <if test="null != plan3ExcelVo.endTime and '' != plan3ExcelVo.endTime">
                AND ds1.deliver_time <![CDATA[<=]]> #{plan3ExcelVo.endTime}
                AND rs1.receiving_time <![CDATA[<=]]> #{plan3ExcelVo.endTime}
            </if>
        </where>
        GROUP BY eng_name
    </select>

    <!-- 首页临措统计 bai 2020/9/17 -->
    <select id="getLCTJList" resultType="org.jeecg.modules.cable.vo.IndexLCTJVo">
        SELECT
        *
        FROM
        (
        SELECT
        m.backup1,
        SUM( d.accomplish_num ) AS deliverNum,
        d.deliver_time AS deliverTime,
        SUM( r.accomplish_num ) AS receivingNum,
        r.receiving_time AS receivingTime
        FROM
        plan3 p
        LEFT JOIN deliver_storage d ON p.id = d.plan_id
        AND d.plan_type = 3
        LEFT JOIN receiving_storage r ON p.id = r.plan_id
        AND r.plan_type = 3
        LEFT JOIN material m ON p.material_code = m.serial
        WHERE
        p.plan_type = '临措'
        AND m.backup1 IN ( '电缆', '电缆配件', '变压器' )
        GROUP BY
        m.backup1 UNION ALL
        SELECT
        '其他' as backup1,
        SUM( d.accomplish_num ) AS deliverNum,
        d.deliver_time AS deliverTime,
        SUM( r.accomplish_num ) AS receivingNum,
        r.receiving_time AS receivingTime
        FROM
        plan3 p
        LEFT JOIN deliver_storage d ON p.id = d.plan_id
        AND d.plan_type = 3
        LEFT JOIN receiving_storage r ON p.id = r.plan_id
        AND r.plan_type = 3
        LEFT JOIN material m ON p.material_code = m.serial
        WHERE
        p.plan_type = '临措'
        AND m.backup1 NOT IN ( '电缆', '电缆配件', '变压器' )
        GROUP BY
        m.backup1
        ) `result`
        <where>
            <if test="vo.beginTime != null">
                AND `result`.receivingTime &gt;= #{vo.beginTime}
                AND `result`.deliverTime &gt;= #{vo.beginTime}
            </if>
            <if test="vo.endTime != null">
                AND `result`.receivingTime &lt;= #{vo.endTime}
                AND `result`.deliverTime &lt;= #{vo.endTime}
            </if>
        </where>
        GROUP BY `result`.backup1
    </select>
</mapper>
