<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.cable.mapper.SendOrdersSubtabulationMapper">
    <insert id="saveSendOrdersSubtabulation">
        INSERT INTO send_orders_subtabulation ( send_orders_id, distribution_type, type_id, task_time )
        VALUES(#{sendOrdersId},#{distributionType},#{typeId},#{taskTime})
    </insert>
</mapper>